@import "tailwindcss";

@page {
  margin: 0;
  size: letter;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
  }
}
